.container{
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    
}
.imgntxt{
    display: flex;
    align-items: center;
}
.homeMainTxt{
    flex: 1;
    z-index: 3;
    color: #fffffe;
    margin-right: 20px;
}
.homeMainTxt p{
    /*color: #a786df;*/
    color: white;
}
.round-corners{
    border-radius: 100px;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.headshot{
    width: 200px;
    height: 200px;
    object-fit: cover;
    opacity: 80%;
}
.homeIcons{
    margin-top: 10px;
    display: flex;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers content horizontally */
    padding: 5px 10px; /* Adjust padding for size */
    border: 3px solid #64b5f6;
    background-color: white;
    cursor: pointer;
    color: #64b5f6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    text-align: center;
    margin: 10px;
    font-size: 15px;
}

.button:hover{
    /*color: blueviolet;
    border-color: blueviolet;*/
    color: #42a5f5;
    border-color: #42a5f5;
}
.button span{
    font-size: 12px;
    margin-left: 10px;
}
a{
    text-decoration: none;
}
/* home css ^

/* #fffffe white???
#f9f8fc basically white
#fec7d7 light pink
#d9d4e7 light grey
#a786df lavender
*/
.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    color: #fffffe;
    text-align: center;
    margin-top: 30px;
}

.aboutMainText {
    margin-bottom: 20px; /* Adds some space below the main text */
}
.aboutMainText h2{
    transform: translate(20%,0%);
}
.aboutContent {
    display: flex;
    justify-content: center; /* Center the child elements horizontally */
    align-items: center;
    width: 100%;
}

.aboutImgTxt, .aboutMeImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px; /* Adds space between the two divs */
}

.aboutImg {
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.aboutImgTxt p, .aboutMeImg p {
    margin: 10px 0;
}




/* projects screen*/

/*.pContainer{
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 75%;
    left: 50%;
    padding: 0 20px;
    color: #fffffe;
}   */
.projDesc{
    width: 50%;
    margin-left: 290px;
}


.gitHubButton {
    padding: 10px 20px;
    border: 2px solid #64b5f6;
    background-color: white;
    cursor: pointer;
    color: #64b5f6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .gitHubButton .icon {
    margin-right: 8px; /* Space between icon and text */
  }
  

.gitHubButton:hover{
    color: #42a5f5;
    border-color: #42a5f5;
}

/* qualifications/resume page */
.resumePDF{
    /*color: rgb(229, 174, 174);*/
    text-decoration: none;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}
.resumePDF:visited{
color: white;
}
.download{
    padding-left: 10px;
}
.qualificationButton{
    padding: 5px 20px;
    /*border: 2px solid #64b5f6;
    background-color: white;*/
    cursor: pointer;
    color: white;
    /*border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);*/
    text-align: center;
    margin-left: 10px;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    /*font-style: italic;*/
    /*margin-top: 15px;*/
}
.qualContainer{
    display: flex;
    align-items: flex-start;
    color: #fffffe;
    margin-top: 70px;
    text-align:center;
    margin-bottom: 30px;
}
.columnL, .columnR {
    flex: 1; 
    padding: 5px;
    border: 2px solid #fffffe;
    display: flex; 
    flex-direction: column; 
    margin-left: 25px;
    margin-right: 25px;
    top: 0;
}
.audDesc{
    margin-left: 30px;
    margin-right: 35px;
    line-height: 0.5;
}
.workDesc{
    margin-left: 37px;
    margin-right: 35px;
    line-height: 0.5;
}
.icon-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;  
    justify-content: center;  
    align-items: center;  
}

.icon{
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;  
    width: 60px; 
    height: 60px; 
    border-radius: 8px;  
    box-sizing: border-box;  
    text-align: center; 
    margin-bottom: 10px;
}

.icon:hover {
    transform: scale(1.1);  /* Slightly enlarge on hover */
    transition: transform 0.2s;
}

.icon p {
    line-height: 0.5;
    margin: 5px 0 0; 
    font-size: 0.9rem;  
    margin-left: 27px;
    margin-right: 27px;
}
.icon-box {
    display: inline-block;
    padding: 10px;
    /*border: 2px solid #ffffff;  */
    border-radius: 8px;         
    background-color: #a2d2ff;  
    margin: 5px;                
}

.skillsIcons{
    font-size: 2rem;
}
.columnL{
    flex: 1.25;
}
.columnR{
    flex: 1;
}

.png{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.react{
    padding-top: 5px;
}
.java{
    padding-bottom: 2px;
    padding-left: 2px;
}
.reactPNG{
    height: 62px;
    width: 62px;
}
.section-divider {
    width: 80%;      /* Set width relative to parent container */
    height: 2px;     /* Adjust thickness of the divider */
    background-color: #ffffff;  /* Choose a color that fits your design */
    margin: 20px auto;  /* Center and give space above and below */
}


/* contact page */

.contactContainer {
    text-align: center;
    color: white;
    margin-top: 100px;
}

.homeIcons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button {
    display: flex;
    padding: 10px 20px;
    border: 2px solid #64b5f6;
    background-color: white;
    cursor: pointer;
    color: #64b5f6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    text-align: center;
}

.button span {
    margin-left: 10px;
}

.textArea, input[type='text'], input[type='email'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* or a fixed width, like 400px */
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
}

.fieldContainer {
    display: flex;
    align-items: center; /* Aligns label and textarea vertically center */
    gap: 10px; /* Adds space between label and textarea */
    width: 50%; /* Ensures each field container takes full width */
    max-width: 400px; /* Optional: Sets a max width to control the form's width */
    
}

.label {
    font-size: 18px;
    white-space: nowrap; /* Prevents text wrapping */
    text-align: right; /* Aligns text to the right */
    margin-bottom: 15px;
}
.message{
    font-size: 18px;
    white-space: nowrap; /* Prevents text wrapping */
    text-align: right; /* Aligns text to the right */
      
}
textarea {
    padding: 8px;
    flex: 1; /* Allows text area to take the remaining space in the field container */
}


.cntLink:visited {
    color: white;
}
.contactContainer a {
    display: block;
    margin: 20px;
}

.cntBtn {
    margin-right: 10px;
}

a:visited {
    color: white;
}

.field {
    text-align: right;
}




/*smaller screens*/

@media screen and (max-width: 768px) {
    .container {
      padding: 0 10px;
    }
  
    .aboutContainer {
      text-align: left;
      margin-top: 10px;
    }

    .aboutMainText{
        margin-top: 30px;
    }
  
    .aboutImgTxt {
      flex-direction: column;
      align-items: flex-start;
    }
    .qualContainer{
        margin-top: 40px;
    }
    .projectItem{
        margin-top: 40px;
    }
    
    .contactContainer{
        left: 23%;
    }
    .qualContainer{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1fr;
    }
    .columnL, .columnR {
      width: 100%;
      margin-top: 10px;
      height: auto;
    }
    .workDesc{
        white-space: normal;
        overflow-wrap: break-word;
        line-height: 10px;
    }
  
    .icon-row {
      justify-content: center;
    }
  
    .projDesc{
        width: 50%;
        margin-left: 150px;
    }
}